# Pandas

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/Users/ZHANGMIN/Desktop/Location.csv', squeeze = True) # access cvs file 
location_data = data.copy() # how to use copy
location_data.head(10) # print first five rows

In [ ]:
type(location_data)

In [ ]:
location_data.describe() # show key statistics

In [ ]:
len(location_data) # same as count

In [ ]:
location_data.nunique()

In [ ]:
type(location_data.nunique())

In [ ]:
location_data.unique() # output unique values and must add parenthesis

In [ ]:
type(location_data.unique())

In [ ]:
location_data.unique # present error

In [ ]:
type(location_data.unique)

# loc & iloc

In [12]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
mydict

[{'a': 1, 'b': 2, 'c': 3, 'd': 4},
 {'a': 100, 'b': 200, 'c': 300, 'd': 400},
 {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]

In [13]:
import pandas as pd 
mydict_dataframe = pd.DataFrame(mydict) # convert to DataFrame 
mydict_dataframe

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [14]:
mydict_dataframe.iloc[1,2]

300

In [15]:
mydict_dataframe['c'][1]

300

In [4]:
mydict_dataframe.iloc[1][2]

300

In [5]:
type(mydict_dataframe.iloc[1,2])

numpy.int64

In [6]:
# print out specific rows and columns using double square bracket
mydict_dataframe.iloc[[1,2],:]

      a     b     c     d
1   100   200   300   400
2  1000  2000  3000  4000

In [ ]:
mydict_dataframe.iloc[[1,2], [0,1,2]]

In [ ]:
mydict_dataframe.iloc[[False,True,True], [True, True, True, False]]

# loc:

In [7]:
mydict_dataframe.loc[[1,2]]

      a     b     c     d
1   100   200   300   400
2  1000  2000  3000  4000

In [8]:
a = pd.read_csv("/Users/ZHANGMIN/Desktop/Lending-company.csv", index_col = 'StringID')
lending_company_copy = a.copy()
lending_company_copy.head()
c = lending_company_copy

In [ ]:
lending_company_copy.loc[['LoanID_1']]

In [ ]:
lending_company_copy.loc['LoanID_1']['Region']

In [ ]:
lending_company_copy.loc[:]['Location'] # access columns

# pandas series

In [ ]:
a = [100,2,3,-6,9]
import pandas as pd
s = pd.Series(a)
s

In [ ]:
type(s)

In [ ]:
s.sort_values() # Series sort default: ascending

In [ ]:
s.sort_values(ascending=False)

# create dataframe via numpy and pandas

In [ ]:
import pandas as pd
import numpy as np
array_a = np.array([[10,20,30],[100,300,420]])
array_a
print(array_a.shape)

In [ ]:
df = pd.DataFrame(array_a, columns=['A', 'B', 'C'], index=['score 1', 'score 2'])
df

In [ ]:
df.div(10)

In [ ]:
df.add(10)

In [ ]:
df.index

In [ ]:
lending_company_copy.max()

In [ ]:
lending_company_copy.min()

In [ ]:
lending_company_copy['Deposit'].max()

In [ ]:
above_2000 = lending_company_copy[(lending_company_copy["Deposit"]) > 2000 & (lending_company_copy["Deposit"] < 7000)]
above_2000

In [ ]:
# merge
import pandas as pd
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [ ]:
# concat
s1 = pd.Series(['a', 'b', 'c', 'd'])
s2 = pd.Series(['c', 'd', '23'])
pd.concat([s1,s2])

In [ ]:
# ignore concat idex
pd.concat([s1,s2], ignore_index=True) # ignore sub index

In [ ]:
# add hierarchical index
a = pd.concat([s1,s2], keys=['s2', 's1']) # concat s2 before s1
a

In [ ]:
pd.concat([s1,s2], keys=['s2', 's1'], ignore_index=True)

In [ ]:
pd.Series(list('string'))

In [ ]:
pd.get_dummies(pd.Series(list('string')))  # convert categorical variable to dummy variables

In [ ]:
print(pd.factorize(['a','c','b','z','a']))
print(pd.factorize(['a','c',None,'z','a'])) # missing value will be noted as -1

In [ ]:
pd.factorize(['a','b','b',None], sort=False)

# reading data in Pandas

In [ ]:
lending_company_copy.columns

In [ ]:
lending_company_copy['Product']

In [ ]:
lending_company_copy[['Product', 'Location']]

In [ ]:
lending_company_copy.iloc[0:4] # first four rows

In [ ]:
for a, b in lending_company_copy.iterrows():  # iterrows: iterate rows
    print(a,b)

In [ ]:
a=lending_company_copy
a.loc[a['Deposit'] > 2200]

In [ ]:
a.sort_values(['Deposit', 'DailyRate'], ascending=[False, True])

In [ ]:
# create a new variable
a['sum fake'] = a['Deposit'] * a['DailyRate']
a

In [ ]:
# drop a column
a=a.drop(columns=['sum fake', 'LoanStatus'])
a

In [ ]:
# aggregation by using another method
a['sum'] = a.iloc[:,7:11].sum(axis=1)  # add all rows by setting specific columns 
a

In [ ]:
# columns.values
cols=list(a.columns)
a=a[[cols[-1]]+[cols[7]]+cols[0:7]+cols[8:13]]  # switch the order of columns and does not modify the values
a

In [ ]:
a.to_csv('/Users/ZHANGMIN/Desktop/modified.csv', index=False) # save to csv: to_csv

# filter data

In [ ]:
a.loc[(a['DailyRate'] == 45) & (a['Product'] == 'Product B')] # parenthesis for multiple conditions at the same time
# or: |

In [ ]:
# reset.index(drop=True): to reset index in the new dataset

In [ ]:
# contains(), '~' means drop rows that satisfy certain conditions
a.loc[a['Product'].str.contains('D')]

In [ ]:
# conditional change
a.loc[a['Product'] == 'Product D', 'Product'] = 'product d' 
a.loc[a['Product']=='product d']

In [ ]:
# conditional change to another variable
a.loc[a['Deposit'] > 2500, ['Product', 'CustomerGender']] = ['Premium', 'test value']
a.sort_values('Deposit', ascending=False)

In [ ]:
a = pd.read_csv("/Users/ZHANGMIN/Desktop/Lending-company.csv", index_col = 'StringID')
lending_company_copy = a.copy()
lending_company_copy.head()
c = lending_company_copy
c

In [ ]:
# aggregate
c.groupby(['CustomerGender']).mean().sort_values('Deposit', ascending=False)

In [ ]:
c.groupby(['Product']).count()   # count()

# working with large dataset in pandas

In [ ]:
new_df = pd.DataFrame(columns=df.columns)
for df in pd.read_csv("/Users/ZHANGMIN/Desktop/Lending-company.csv", index_col = 'StringID', chunksize=5):
    result = df.groupby(['CustomerGender']).count()
    new_df = pd.concat([result, new_df])

# Specify 'chunksize'

In [6]:
a=101010101
b=str(a)
b.count('0')

4

In [7]:
str(a).count('1')

5